@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body{
  text-align:center;
  font-family:'Itim', cursive;
  background: linear-gradient(90deg, rgba(158,70,130,1) 0%, rgba(34,9,121,1) 34%, rgba(0,212,255,1) 100%);100%);
  color:white;
  font-size:20px;
}
img{
  width:10%;
  height:20%;
  border-radius:50%;
}
hr{
   height: 6px;
   background-color: #FAFAFA;
   width: 200px;
   margin: 8px auto;
}
h1{
  text-shadow:2px 3px black;
}
p{
  text-shadow:2px 1px black;
}
.menu{
    list-style:none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10px;
}
    
    .link{
      text-decoration: underline;
        
    }
.link:hover{
    background-color: deeppink;
        text-decoration: bold;
    z-index: 11px;
}